html, body {
    background: url("./assets/bg_sea.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
	opacity: 0;
}

#deck {
	width: 600px;
	height: 100px;
}

#outcome {
	background: url("./assets/Dark Wood HP9 (6).jpg");
	width: 400px;
	height: 50px;
	-webkit-box-shadow: 0 0 1em black;
	-moz-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	display: none;
  	z-index: 4;
  	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-variant: small-caps;
	font-size: 30pt;
	color: lightgray;
	text-align: center;
	padding-top: 5px;
}


#blist {
	margin-top: 50px;
}

#sound {
	background: url("./assets/sound.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 22px;
	width: 25px;
	margin-top: 5px;
	margin-left: 5px;
	outline: none;
}

.button {
	width: 160px;
	height: 50px;
  	font-size: 23px;
  	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-variant: small-caps;
	font-weight: bold;
  	color: lightgray;
  	background: url("./assets/wood_1_t.jpg");
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    -webkit-box-shadow: 0 0 1em black;
	-moz-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	margin-left: 10px;
	margin-right: 10px;
	letter-spacing:0.1em;
	text-shadow: 1px 1px 2px black;
	outline: none;
}

#new {
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	outline: none;
}

h1 {
	color: black;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 75pt;
	font-variant: small-caps;
	opacity: 0.5;

}

.gamewindow {
	background: url("./assets/Dark Wood HP9 (5).jpg");
	width: 1368px;
	height: 600px;
	-webkit-box-shadow: 0 0 1em black;
	-moz-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	position: absolute;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	display: none;
  	z-index: 3;
}

#bets {
	background: url("./assets/wood_2_t.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    width: 200px;
    position: absolute; top: 20px; right: 20px;
    z-index: 4;
    -webkit-box-shadow: 0 0 1em black;
	-moz-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	display: none;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-variant: small-caps;
	font-size: 15pt;
}

.bet {
	background: url("./assets/wood_1_t.jpg");
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0 0 1em black;
	-moz-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
	letter-spacing:0.1em;
	height: 50px;
	width: 120px;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-variant: small-caps;
	font-size: 14pt;
	font-weight: bold;
	color: lightgray;
	text-shadow: 1px 1px 2px black;
	outline: none;
}

.card {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    width: 200px;
}

.hand {
	width:1200px;

  	height:200px;

  	margin: 0 auto;


}

.dealer {
	padding-top: 25px;
}

img {
	padding-left: 20px;
	padding-right: 20px;
	width: 138px;
	height: 200px;
	position: relative;
	margin: auto;
}